<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>License & Register Your Bicycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="License and register your bicycle with the city of Santa Cruz.">
    <meta name="author" content="City of Santa Cruz, CA">
    
    <link href="static/css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Icons -->
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-touch-icon-114x114.png">
  </head>
  
  <body>
    <div id="page">

      <header>
        <h1 class="ir">License and register your bicycle in Santa Cruz.</h1>
        <p>
          Licensing your bicycle is free and required by the city of Santa Cruz<sup><a href="#footnote-1">1</a></sup>.
        </p>
        <p>
          Registering your bicycle with the Santa Cruz Police Department <strong>increases the likelihood of recovering it if it's ever stolen</strong>.
        </p>
      </header>
      
      <form method="post" action="submit">
        
        <fieldset>
          <h3>First, The Owner.</h3>
          <p>If your bicycle is stolen and recovered, this is how the police will contact you.</p>
          <div class="control-group">
            <label class="control-label" for="owner_name">Full Name</label>
            <div class="controls">
              <input type="text" id="owner_name" name="owner_name" placeholder="e.g. Betty Bikeowner">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="owner_street">Street Address</label>
            <div class="controls">
              <input type="text" id="owner_street" name="owner_street" placeholder="e.g. 809 Center Street">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="owner_city">City</label>
            <div class="controls">
              <input type="text" id="owner_city" name="owner_city" placeholder="e.g. Santa Cruz">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="owner_zip">ZIP Code</label>
            <div class="controls">
              <input type="text" id="owner_zip" name="owner_zip" placeholder="e.g. 95060">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="owner_phone">Phone</label>
            <div class="controls">
              <input type="text" id="owner_phone" name="owner_phone" placeholder="(###) ###-####">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="owner_phone">Email</label>
            <div class="controls">
              <input type="text" id="owner_phone" name="owner_phone" placeholder="you@domain.com">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
        </fieldset>
        
        <fieldset>
          <h3>Next, The Bicycle.</h3>
          <p>If you're not sure about any of this information, ask your bike mechanic.</p>
          <div class="control-group" class="required">
            <label class="control-label" for="bike_serial">Serial #</label>
            <div class="controls">
              <input type="text" id="bike_serial" name="bike_serial">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group" class="required">
            <label class="control-label" for="bike_manufacturer">Manufacturer</label>
            <div class="controls">
              <input type="text" id="bike_manufacturer" name="bike_manufacturer" placeholder="">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group" class="required">
            <label class="control-label" for="bike_model">Model</label>
            <div class="controls">
              <input type="text" id="bike_model" name="bike_model" placeholder="">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="bike_year">Model Year</label>
            <div class="controls">
              <input type="text" id="bike_year" name="bike_year" placeholder="">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="bike_color">Color</label>
            <div class="controls">
              <input type="text" id="bike_color" name="bike_color" placeholder="">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group" class="required">
            <label class="control-label" for="bike_framesize">Frame Size</label>
            <div class="controls">
              <input type="text" id="bike_framesize" name="bike_framesize" placeholder='e.g. 50"'>
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group" class="required">
            <label class="control-label" for="bike_wheelsize">Wheel Size</label>
            <div class="controls">
              <input type="text" id="bike_wheelsize" name="bike_wheelsize" placeholder='e.g. 700c'>
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
          <div class="control-group">
            <label class="control-label" for="bike_photo">Photo</label>
            <div class="controls">
              <input class="input-file" id="bike_photo" name="bike_photo" type="file" style="width:80px !important;">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
        </fieldset>
        
        <fieldset>
          <h3>Finally, The License.</h3>
          <p>Grab the sticker and affix it to the front of the seat tube<sup><a href="#footnote-2">2</a></sup>. The license is valid for three years.</p>
          <div class="control-group">
            <label class="control-label" for="bike_license">License #</label>
            <div class="controls">
              <input type="text" id="bike_license" name="bike_license" placeholder="">
            </div><!-- /.controls -->
          </div><!-- /.control-group -->
        </fieldset>
        
        <div style="text-align:center;"><button type="submit" class="btn btn-primary">Register This Bike</button></div>
        
      </form>
      
      <footer>
        <p><sup id="footnote-1">1</sup> <a href="http://www.codepublishing.com/CA/SantaCruz/?SantaCruz10/SantaCruz1068.html">City of Santa Cruz Municipal Code 10.68</a></p>
        <p><sup id="footnote-2">2</sup> <a href="http://www.dmv.ca.gov/pubs/vctop/d16_7/vc39001.htm">California Vehicle Code Section 39001</a></p>
      </footer>
    
    </div> <!-- /.container -->

    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
